.smalltext{
    /* font-size: 20px; */
    font-size: 30%;
}

.leftcontainer{
  height: 700px;
  /* height: 100%; */
  border: 3px solid rgb(68, 191, 228);
  position: relative;
}

body{
  background-color: rgb(214, 219, 223);
}

p{
  color: darkblue;
  font-family: cursive;
  font-size: 10%;
}

.aligncenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#readText{
    border-color: gray;
    border-left: 4%;
}

#clock{
  /* font-size: 50px; */
  font-size: 400%;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-title{
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#stopwatch{
  background-color: rgb(111, 170, 221);
}
#bestScoreBlock{
  color: white;
  background-color: rgb(50, 122, 216);
  align-self: center;
}

#btnStartTest{
  color: white;
  background-color: rgb(17, 124, 218);
}
.alert{
  align-self: center;
  align-content: center;
  align-items: center;
}


#inputBoxContainer #inputText:focus {
    /* border: 1px solid rgba(41, 97, 219, 0.25); */
    box-shadow: 0 0 0 0.2rem rgba(41, 219, 190, 0.25);
}
