.smalltext{
    font-size: 20px;
}

.leftcontainer{
  height: 700px;
  /* border: 3px solid rgb(68, 191, 228); */
  position: relative;
}

body{
  background-color: rgb(214, 219, 223);
}

h1{
  color: darkblue;
  font-family: cursive;
}

.aligncenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#readText{
    border-color: gray;
    border-left: 5px;
}

#clock{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-title{
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#stopwatch{
  background-color:   rgb(111, 170, 221);
}
#bestScoreBlock{
  /* background-color: rgb(128, 196, 97); */
}